p{
    font-size: 20px;
}
h1{
    font-size: 40px;
}

h1, p{
    font-family: sans-serif;
}
.upperCase{
    text-transform: uppercase;
}
#blog-title:hover{
    color: white;
    background-color: grey;
}
#blog-desc{
    color: #585050 ;
}